<template lang="pug">
.FormUsuario
  v-container
    v-layout(justify-center)
      v-flex(xs8)
        v-layout(justify-center)
          .display-1.customizarFontTitulo Formulário
        span.customizarFontLabel
          v-text-field(
            label="Nome"
            v-model="payload.nome"
            )
          v-text-field(
            label="Email"
            v-model="payload.email"
            )
          v-text-field(
            label="Telefone"
            v-model="payload.telefone"
            )
          v-text-field(
            label="Endereco"
            v-model="payload.endereco"
            )
          v-layout(justify-center)
            v-btn(
              color="blue"
              dark
              :to="{path: '/'}"
              ) close
            v-btn(
              color="purple"
              dark
              @click="salvar"
              ) salvar
</template>
<script>
import API from '@/lib/API';

export default {
  data: () => ({
    payload: {
      nome: '',
      email: '',
      telefone: '',
      endereco: '',
    }
  }),
  created() {
    if(this.$route.params.id) {
      this.pegarUsuario(this.$route.params.id)
    }
  },
  methods: {
    salvar() {
      if (!this.payload.id) {
        API.criar(this.payload)
          .then((response) => {
            if (response.status === 201) {
              this.$router.push('/')
            }
          });
      }
      API.editar(this.payload.id, this.payload)
        .then(() => {
          this.$router.push('/');
        });
    },
    pegarUsuario(id) {
      API.pegarUm(id)
        .then((response) => {
          this.payload = response.data;
        });
    }
  },
};
</script>

<style lang="css">
.customizarFontTitulo {
  font-family: 'Indie Flower', cursive;
  color: skyblue;
  text-shadow: 1px 1px blue
}
.customizarFontLabel {
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 1px 1px skyblue
}
</style>
