<template lang="pug">
  v-app#inspire
    v-content
      v-container(
        fluid
        fill-height
        )
        v-layout(
          align-center
          justify-center
          )
          v-flex(
            xs12
            sm8
            md4
            )
            v-card.elevation-12
              v-toolbar(
                dark
                color='red'
                )
                v-toolbar-title Login
              v-card-text
                v-form
                  v-text-field(
                    prepend-icon='person'
                    name='login',
                    label='Login'
                    type='text'
                    color="red"
                    )
                  v-text-field#password(
                    prepend-icon='lock'
                    name='password'
                    label='Password'
                    type='password'
                    color="red"
                    )
              v-card-actions
                v-layout(justify-end)
                  v-btn(
                    color='red'
                    dark
                    :to="{path: '/'}"
                    ) Login
</template>

<script>
export default {
};
</script>
