<template lang="pug">
.usuarios
  v-container
    v-layout(justify-center)
      v-flex(xs10)
        v-card
          v-card-title
            v-btn(
              color="blue"
              flat
              @click="chamarRotaCriarContato"
              ) Novo usuário
              v-icon add
            v-spacer
            v-text-field(
              v-model='search'
              append-icon='search'
              label='Procurar'
              single-line
              hide-details
              )
          v-data-table(:headers='headers', :items='usuarios', :search='search')
            template(slot='items', slot-scope='props')
              td {{ props.item.nome }}
              td {{ props.item.email }}
              td {{ props.item.telefone }}
              td {{ props.item.endereco }}
              td
                v-btn(
                  fab
                  small
                  color="primary"
                  @click="editarItem(props.item.id)"
                  )
                  v-icon edit
                v-btn(
                  fab
                  small
                  color="red"
                  dark
                  @click="dialog=true"
                  )
                  v-icon delete
                v-dialog(
                  width="500px"
                  v-model="dialog"
                  hide-overlay
                  persistent
                  transition="slide-y-transition"
                  )
                  v-card
                    v-layout(justify-center)
                      v-card-text
                        .title Deseja realmente excluir ?
                      v-card-actions
                        v-btn(
                          @click="dialog=false"
                          ) Não
                        v-btn(
                          @click="deletarItem(props.item.id), dialog=false"
                          ) SIM
            v-alert(slot='no-results', :value='true', color='error', icon='warning')
              | Sua pesquisa não encontrou o que está buscando.
</template>

<script>
import API from '@/lib/API';

export default {
  data: () => ({
    search: '',
    usuarios: [],
    dialog: false,
    headers: [
      {
        text: 'Nome',
        sortable: true,
        value: 'nome',
      },
      {
        text: 'Email',
        sortable: true,
        value: 'email',
      },
      {
        text: 'Telefone',
        sortable: false,
        value: 'telefone',
      },
      {
        text: 'Endereço',
        sortable: false,
        value: 'endereco',
      },
      {
        text: 'Ações',
        sortable: false,
      },
    ],
  }),
  created() {
    this.pegarUsuarios();
  },
  methods: {
    pegarUsuarios() {
      API.pegarTodos()
        .then((response) => {
          this.usuarios = response.data;
        });
    },
    chamarRotaCriarContato() {
      this.$router.push('criar-usuario');
    },
    deletarItem(id) {
      API.deletar(id)
        .then(() => {
          this.pegarUsuarios();
        });
    },
    editarItem(id) {
      this.$router.push(`editar-usuario/${id}`);
    },
  },
};
</script>

<style lang="css">
.ola {
  position: relative;
  bottom: 20%;
  right: 10%;
}
</style>
