<template lang="pug">
v-app#inspire
  v-toolbar(color='cyan'
   dark
   fixed
   app
   )
   v-layout(justify-center)
     .display-1.titulo Usuarios
  v-content
    v-fade-transition(mode="out-in")
      router-view
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    drawer: false,
  }),
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.titulo {
  font-family: cursive;
}
</style>
